* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

body{
    background-color: #ffeedf;
}
.header {
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #145434;
    align-items: center;
    color: #145434;
    font-family: 'Space Grotesk';
    font-size: 36px;
}

/*margin-auto a cardra*/
/*flex basis a konténerre*/